article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}
:root {
  --md-primary-fg-color: #f4a6b8;   /* baby pink */
  --md-accent-fg-color: #f4a6b8;    /* same as primary */
}
